<div class="bg-image">

  <div class="container  px-6 mx-auto">
    <section class="text-gray-800 pt-5">

      <div class="italic text-white">
        <h2 class="text-3xl font-bold mb-20 text-center italic mt-16">BIENVENIDO A TU WEB DE COMIDA</h2>
      </div>

      <div class="grid lg:grid-cols-3 gap-6">
        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg"
          style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="light">
          <img src="../assets/img/matchRecetas4.jpg" />
          <a href="#!">
            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
              style="background-color: rgba(0, 0, 0, 0.4)">
              <div class="flex justify-center place-items-center h-full">
                <div class="text-white m-6">
                  <h5 class="font-bold text-lg italic">MATCH DE RECETAS</h5>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg" data-mdb-ripple="true"
          data-mdb-ripple-color="light">
          <img src="../assets/img/diarioRecetas.jpg" class="w-full" />
          <a href="#!">
            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
              style="background-color: rgba(0, 0, 0, 0.4)">
              <div class="flex justify-center place-items-center h-full">
                <div class="text-white m-6">
                  <h5 class="font-bold text-lg italic">DIARIO DE RECETAS</h5>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg" data-mdb-ripple="true"
          data-mdb-ripple-color="light">
          <img src="../assets/img/registroCompra.jpg" class="h-auto w-auto" class="w-full" />
          <a href="#!">
            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
              style="background-color: rgba(0, 0, 0, 0.4)">
              <div class="flex justify-center place-items-center h-full">
                <div class="text-white m-6 ">
                  <h5 class="font-bold text-lg italic">REGISTRO DE COMPRA</h5>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="mt-20 font-bold  italic pb-12 text-white">
        <h2 class="">¿Aun no te has unido a nuestra</h2>
        <h2 class="">comunidad?</h2>
        <button type="button" (click)="getModals()"
          class="mt-5 mb-5 border border-green-500 bg-green-500 text-white rounded-full px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-green-600 focus:outline-none focus:shadow-outline">
          LOGIN
        </button>
      </div>

      <div *ngIf="this.showModals===true"
        class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]">
        <div>

        </div>

        <div>
          <button type="button"
            class="focus:outline-none text-white bg-gray hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-full ml-32  text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
            (click)="getLoginModal()">LOGIN</button>
          <div *ngIf="this.showLogin"><app-loggin-form #login></app-loggin-form></div>

        </div>

        <div>
          <button
            class="bg-gray-100 text-green-600 hover:text-gray-700 focus:outline-none focus:ring focus:bg-white z-50 rounded-full font-sans font-bold pl-32 pr-32 text-xs pt-2 pb-2 "
            (click)="getRegisterModal()">O registrate</button>
          <div *ngIf="this.showRegister">
            <app-register #register></app-register>
          </div>
        </div>

      </div>




