<h1 class="text-center mb-[7%] mt-[7%]  font-bold  italic text-gray-800 text-[15px]  md:text-2xl xl:text-3xl" >PREGUNTAS FRECUENTES</h1>

<div class="mb-[10%]" *ngIf="allQuestions">
  <ul class="list-reset flex flex-col items-center w-[100%]" *ngFor="let question of allQuestions.data" >
    <li class="bg-gray-400 border-t-4 w-[60%] mt-[1%]" *ngIf="question.isChecked"></li>
    <li class="relative -mb-px block  mt-[1%]  w-[60%] ml-[4%] text-[12px] sm:text-[10px] md:text-[15px] xl:text-[20px]"  routerLink="/QuestionDetail/{{question.id}} "><a class="text-gray-600 italic" *ngIf="question.isChecked" >{{question.title}}</a></li>
  </ul>
</div>

