<nav
    class="w-full flex flex-wrap items-center justify-between py-4 bg-lime-400 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg">
    <div class="w-full flex flex-wrap items-center justify-between px-6">
        <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" style="height: 20px" alt=""
            loading="lazy" 
        />

    </div>
</nav>
<div class="w-full flex flex-wrap items-center justify-center py-1 bg-stone-600 text-gray-500 shadow-lg">
    <p class="text-center text-lime-400 font-bold ">LOGIN</p>
</div>