<nav
    class="w-full flex flex-wrap items-center justify-between  bg-lime-400 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg">
    <div class="w-full flex flex-wrap items-center justify-between px-6 pt-0 pb-1">
        <img src="../assets/img/logo12.png" class="h-14 p-1" alt="" loading="lazy" />
        <div class="flex flex-wrap items-center mr-28">
            <img src="../assets/img/icons/match1.png" class="h-9 p-1 " alt="" (click)="getModals()" />
            <img src="../assets/img/icons/diariocompra.png" class="h-9 p-1 pl-5" alt="" />
            <img src="../assets/img/icons/calculadoraimc.png" class="h-7 p-1 pl-5" alt="" />
            <img src="../assets/img/icons/vidasana2.png" class="h-9 p-1 pl-5" alt="" />
            <img src="../assets/img/icons/preguntasfrecu.png" class="h-9 p-1 pl-5" alt="" />
            <img src="../assets/img/icons/colabora1.png" class="h-9 p-1 pl-5" alt="" />
        </div>
        <div class="flex flex-wrap items-center">
            <img src="../assets/img/icons/logout.png" class="h-9 p-1" alt="" />
        </div>

    </div>
    <div class="w-full flex flex-wrap items-center justify-between">


    </div>
</nav>
<div class="w-full flex flex-wrap items-center justify-center py-1 bg-stone-600 text-gray-500 shadow-lg">
    <p class="text-center text-lime-400 font-bold ">LOGIN</p>
</div>

<div *ngIf="this.showModals===true">
    <app-match-recetas></app-match-recetas>
</div>

