
<footer>
  <div class="bg-black pt-3 pb-3 border-b-2 border-[#5EB309]">
    <div class="flex flex-row justify-center space-x-8">
      <img src="../assets/facebookwhite.png" width="20">
      <img  src="../assets/instagramwhite.png" width="20">
      <img  src="../assets/twitterwhite.png" width="20">
  </div>
  </div>
  <div class="bg-[#0C0C0C] pt-7 pb-7">
    <span class="block text-sm text-[#5EB309] sm:text-center">© 2023 | Corporative rights restricted to eataday company</span>
  </div>
</footer>
