
<div >
  <form [formGroup]="loginForm">


    <label for="name">Name:* </label>
    <input formControlName="name" type="text" id="name"><br>
    <div>
      <small *ngIf="loginForm.get('name').invalid && loginForm.get('name').touched">
        This field  is required
      </small>
    </div>

    <br />

    <label for="email">Email:* </label>
    <input formControlName="email" type="email" id="email"><br>
    <div>
      <small *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
        This field  is required
      </small>
    </div>

    <br />

    <!--<label for="emailRepite">Repite email:* </label>
    <input formControlName="emailRepite" type="email" id="emailRepite"><br>
    <div>
      <small *ngIf="loginForm.get('emailRepite').invalid && loginForm.get('emailRepite').touched">
        This field  is required
      </small>
    </div>

    <br />-->

    <label for="password">Password:* </label>
    <input formControlName="password" type="password" id="password"><br>
    <div>
      <small *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
        This field  is required
      </small>
    </div>

    <br />

    <!--<label for="passwordRepite">Repite Password:* </label>
    <input formControlName="passwordRepite" type="password" id="passwordRepite"><br>
    <div>
      <small *ngIf="loginForm.get('passwordRepite').invalid && loginForm.get('passwordRepite').touched">
        This field  is required
      </small>
    </div>

    <br />-->

    <label for="terms">Terms </label>
    <input formControlName="terms" type="checkbox" id="terms"><br>
    <div>
      <small *ngIf="loginForm.get('terms').invalid && loginForm.get('terms').touched">
        This field  is required
      </small>
    </div>

    <br />

    <button (click)="reset()">Reset</button> <br>
    <button (click)="getUsers()">Show Users </button> <br>
    <button [disabled]="loginForm.invalid" type="submit">Save</button> <br>
  </form>
</div>



