<div class="h-full w-full">
  <div class="flex justify-center items-center flex-col gap-4 py-5">
    <div class="flex justify-center items-center">
      <h2 class="text-2xl">Añade tus ingredientes y crea tu receta</h2>
    </div>

    <div class="flex justify-center items-center">
      <button (click)="getShowFinder()"
        class="bg-green-400 active:bg-green-600 rounded-full p-3 flex items-center justify-center">
        <img src="../assets/addIcon.png" class="invert h-5 active:invert-0" alt="">
      </button>
    </div>



  </div>

  <div *ngIf="this.showFinder===true" class="flex flex-col items-center justify-center">
    <app-buscador-alimentos></app-buscador-alimentos>
  </div>
  <app-recetas-top></app-recetas-top>

</div>
