<div *ngIf="recipe" class="grid  grid-cols-1 lg:grid-cols-3 h-fit">
  <div
    class="col-span-1 row-span-1  pt-3 bg-stone-300 rounded-br-2xl  pb:[10%] lg:pb-[20%] flex flex-col items-center justify-center">
    <div class="w-full lg:mb-6"><button type="button" (click)="goBack()"
        class="bg-stone-500 hover:bg-stone-700 text-white font-bold py-2 px-4  ml-[4%] rounded-full mb-3  text-[10px] sm:text-[15px] md:text-[15px] xl:text-[18px] ">
        ⮌</button></div>


    <div class="flex items-center justify-center">
      <img src="{{recipe.photo}}" class="h-60 text-center mb-10 md:rounded-3xl rounded-none ">
    </div>

    <div class="flex lg:flex-col items-center justify-center gap-3  lg:gap-7 mb-4">
      <div class="flex items-center justify-center">
        <button type="button" (click)="goPrint()"
          class="bg-orange-600 hover:bg-orange-500 text-white py-2 px-4 rounded-full">
          Guardar Receta
        </button>
      </div>
      <div class="flex items-center justify-center">
        <button type="button" (click)="goPrint()"
          class="bg-orange-600 hover:bg-orange-500 text-white py-2 px-4 rounded-full ">
          Imprimir Receta
        </button>
      </div>

    </div>
  </div>

  <div class="col-span-2 row-span-2">
    <h1 class="font-bold italic text-stone-800 mb-3 text-[25px] ml-5 mt-5 uppercase">
      {{recipe.title}}
    </h1>
    <div class=" border-[2px] border-b-orange-500 border-l-white border-t-white border-r-white  ml-5 mr-[5%] ">
      <h1 class="font-bold text-orange-500">
        INGREDIENTES
      </h1>
    </div>

    <ul class=" mt-5 ml-10 mr-10 italic text-gray-700 text-[15px] sm:text-[18px] md:text-[18px] xl:text-[18px]">
      <li *ngFor="let ingrediente of recipe.displayIngredients">
        {{ingrediente}}
      </li>
    </ul>

    <div class="border-[2px] border-b-orange-500 border-l-white border-t-white border-r-white  ml-5 mr-[5%] mt-5">
      <h1 class="font-bold text-orange-500">PREPARACIÓN</h1>
    </div>
    <div class="text-lg text-justify w-full p-7 py-0 leading-relaxed mb-4 lg:mb-0">
      <p class="whitespace-pre-line  w-fit">{{ recipe.preparation }}</p>
    </div>
  </div>
</div>
