<div class=" flex flex-col  justify-center items-center">
  <div class="w-full flex flex-col gap-2 items-center justify-center py-3 pt-1">
    <div>
      <p class="text-xl">Busca aquí tus alimentos</p>
    </div>

    <input type="text" class="rounded-full pl-2 bg-gray-200 outline-none focus:outline-1 w-[80%]"
      placeholder="Patata, leche... " #inputSearch (input)="search(inputSearch.value)">



  </div>
  <div class="relative bg-gray-400 w-full h-[10rem]">
    <div class=" absolute top-0 left-0  w-full flex items-center justify-center flex-col pt-4">

      <ul class="flex flex-col gap-2 h-[8rem]  w-[85%] overflow-y-scroll ">
        <li *ngFor="let ingredient of ingredientsFound$ | async "
          class="bg-gray-100  w-full flex items-center justify-between">

          <div class="flex items-center justify-between  w-[75%] md:w-[88%]  p-1 ">
            <div class="text-[1rem] md:text-[1.1rem] pl-1 font-weight-bolder">
              {{ ingredient.name }}
            </div>
            <div class="text-sm">{{ ingredient.price_k }}€/k</div>
          </div>
          <div class=" text-sm pr-2 flex items-center gap-1 md:gap-2">
            <button (click)="toUserList(ingredient)"><img src="assets/img/icons/adddiary.png" class="h-6"
                alt=""></button>
            <button (click)="choseSupermarket(ingredient)"><img src="assets/img/icons/supercorapng.png" class="h-6"
                alt=""></button>
          </div>



        </li>

      </ul>
    </div>
  </div>
</div>
